.genre_keyword {
  margin-bottom:3rem;
  padding: 0 3.75rem;

  .genre_item {
    width: auto;
    padding: 0.625rem 1.25rem;
    color: #fff;
    font-size: 1.375rem;
    border: 1px solid #777;
    border-radius: 2rem;
    cursor: pointer;

    & + .genre_item {
      margin-left: 1.25rem;
    }

    &:hover,
    &.active {
      color: #fff;
      border-color: #0372D2;
      background: #0372D2;
    }
  }
}
.genre_box {
  padding:0 4rem;
  .genre_sort {
    margin-bottom: 2.25rem;

    select {
      padding: 0.5rem 1.25rem 0.5rem 0;
      color: #fff;
      font-size: 1.375rem;
      font-weight: bold;
      border: none;
      background: none;

      option {
        color: #000;
      }
    }
  }
  .genre_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    animation: showItem 0.5s ease-in;


    .genre_card {
      display: inline-block;
      width: calc(100% - 86% - 2rem);

      .tit {
        margin-top: 0.938rem;
        color: #d5d5d5;
        font-size: 1.375rem;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      picture {
        display: block;
        width: 100%;
        border-radius: 0.5rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;

          &.poster {
            animation: slidein 0.5s;
          }
        }

        &.img_none {
          width: 100%;
          min-height: 13rem;
          max-height: 31.25rem;
          background: #F2F2F2 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='46' viewBox='0 0 60 46' fill='none'%3E%3Crect x='1.5' y='1.5' width='57' height='43' rx='6.5' fill='%23F2F2F2' stroke='%23CCCCCC' stroke-width='3'/%3E%3Cpath d='M53 39H7L13.102 31L17.3265 34.5L28.5918 21L33.2857 26L42.2041 14L53 31V39Z' fill='%23CCCCCC'/%3E%3Ccircle cx='14' cy='14' r='5' fill='%23CCCCCC'/%3E%3C/svg%3E") center no-repeat;
        }
      }

      &:hover {
        transform: translate3d(0, -0.75rem, 0);
        transition: transform .3s ease-in-out;
        cursor: pointer;
      }

    }
  }
}

.genre_btm {
  text-align: center;
}
.more_card {
  width: calc(100% - 86% - 2rem);

  .loading {
    height: calc(100% - 40px);
  }
}

.list_more {
  padding: 1rem 0;
  width: 100%;
  height: calc(100% - 40px);
  color: #fff;
  font-size: 1.625rem;
  border: none;
  background: none;
}


@media screen and (max-width: 768px) {
  .genre_keyword {
    padding:0 2.5rem;
  }
  .genre_box {
    padding:0 2.5rem;
    .genre_list {
      .genre_card {
        width: calc(100% - 66% - 2rem);
      }
    }
  }

  .more_card {
    width: calc(100% - 76% - 2rem);
  }
}