.home_banner {
  position:relative;
  display:block;
  height:43.75rem;
  animation: showItem 0.5s ease-in;
  background-position: 50%;
  background-size: cover;
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: flex
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 15.833rem;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 15.833rem;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  }

  .banner_txt {
    position: absolute;
    left: 3.125rem;
    bottom: 6.25rem;
    color:#fff;
    text-align: left;
    z-index: 10;

    .tit {

      font-size: 2.5rem;
    }

    p {
      margin-top: 1.875rem;
      width: calc(100% - 3.125rem);
      font-size: 1.5rem;
      line-height: 2.125rem;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical
    }
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    bottom: 2.5rem;
    width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    width: 6.25rem;
    height: 9.375rem;
    transform: translateY(-50%);
    z-index: 10;
    color: #fff
  }


  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    pointer-events: auto;
  }

  .swiper-pagination-bullet {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    opacity: 1;
    background: #fff;
    cursor: pointer;

    & + .swiper-pagination-bullet {
      margin-left: 8px
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets .swiper-pagination-horizontal {
    bottom: auto;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 0.5rem;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #007aff;
  }
}


