.search_container {
  margin-top: 12.5rem;

  .search_input {
    padding: 1rem 0;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 15.625rem;
    border-bottom: 2px solid #fff;

    .search_txt {
      width: calc(100% - 3.75rem);
      color: #eee;
      font-size: 1.875rem;
      font-weight: bold;
      border: none;
      background: none;
      font-family: 'Noto Sans KR', sans-serif;
    }

    .icon_search {
      width: 3.125rem;
      height: 3.125rem;
      background: none;

      &:before {
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='32' height='32' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0_12_305' transform='scale(0.03125)'/%3E%3C/pattern%3E%3Cimage id='image0_12_305' width='32' height='32' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAB2klEQVRYhe2WO0vEQBSF7wRLSwmyyGItVmJtoY1YiMgW1oIoYiEisv9EtrCwsLMVK3+F4GIhYieoWIjI4uOzmBHD3Ukyk6zaeCHFTvac881kXkYKCkhFpCUicyIyISKpe3UvIhciciYix8aY2yKf6AJSoAP0KK8ecAA0BhW+ANwFBOt6BJbqhq8C7xXCv+od2KjTc1/4FbAHTAMj7pkCdoHLHIjl2PCU/mF/BdrAUIFuCNihf648EjMnsBNOhy9G6Oc9EIeh4tQjbgfTf/tsezoxFiLcVMKromEv8EmArvLaKdMlYjeZbHWMMW+xAMaYDxHZV83au7881NOx4RmvSeV1HSJ6UKKRGgDDyuu5TJNUDcupj1hBIvZgyVazBsC4+q29vQAXqm22BoDWam8vwJlqW6u6DEVkXTVrb69w1LMRla5fj4/eT16BsM+JPc+z1QPmI8JngRflcRRD38AeIBpi2w1tni5xPdfhT8G9z5gt4T+Ouw5kErvOh4EJYAs49/z/a/hXogAcxEYORJWqDLFM/+cIqScXOhCIBnDoMczr6RHQBFYGBuFAxrA3nhPgGnh2zw1wir2WNZVmsBAVwf8h/iFCIVp/DVF+ZfthiO6vAjiIFnZP6QIzn9TA/Qx6PEfbAAAAAElFTkSuQmCC'/%3E%3C/defs%3E%3C/svg%3E%0A") center / 100% no-repeat;
        content: '';
      }
    }
  }

  .search_list {
    display: flex;
    flex-wrap: wrap;
    margin: 3.888rem;
    gap: 2rem;
    animation: showItem 0.5s ease-in;

    .tit {
      margin-top: 0.938rem;
      color: #d5d5d5;
      font-size: 1.375rem;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .list_card {
      width: calc(100% - 86% - 2rem);
      animation: showItem 0.3s ease-in;

      &.tv {
        position: relative;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          padding: 0.75rem 1.25rem;
          border-radius: 4px 4px 4px 0;
          color: #fff;
          font-size: 1.25rem;
          background: #f59400;
          content: 'TV'
        }
      }

      &.movie {
        position: relative;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          padding: 0.75rem 1.25rem;
          border-radius: 4px 4px 4px 0;
          font-size: 1.25rem;
          color: #fff;
          background: #0091f5;
          content: 'MOVIE'
        }
      }

      &.actor {
        position: relative;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          padding: 0.75rem 1.25rem;
          border-radius: 0 0 4px 0;
          font-size: 1.25rem;
          color: #fff;
          background: #3c7b3f;
          content: 'ACTOR'
        }
      }

      picture {
        display: block;
        border-radius: 0.5rem;
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &:hover {
        transform: translate3d(0, -0.75rem, 0);
        transition: transform .3s ease-in-out;
        cursor: pointer;
      }
    }
  }

  .search_none {
    padding-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.75rem;
    line-height: 2.875rem;
  }

  .search_tip {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem auto 0;
    width: 75rem;

    .txt {
      font-size: 1.75rem;
      line-height: 2.875rem;

      h1 {
        margin-bottom: 3.125rem;
        font-size: 2.875rem;
        line-height: 4rem;

        strong {
          color: #0092ff
        }
      }

      p {
        font-size: 1.875rem;
        line-height: 3.125rem;

        .search_link {
          color:#fff;
          text-decoration: underline;
        }
      }
    }

    &:after {
      display: block;
      margin-left: 3rem;
      width: 13.75rem;
      height: 13.75rem;
      background: url('./../images/img_search_tip.png') center / 100% no-repeat;
      content: ''
    }

  }
}

@media screen and (max-width: 768px) {
  .search_container {
    .search_input {
      margin: 4rem;
      padding: 1rem 0;
    }

    .search_list {
      margin: 3.888rem 3rem;

      .list_card {
        width: calc(100% - 66% - 2rem);
      }
    }

    .search_tip {
      flex-direction: column-reverse;
      flex-wrap: wrap-reverse;
      width: 100%;
      text-align: center;

      &:after {
        margin: 0 auto 5rem;
        width: 100px;
        height: 100px;
      }
    }
  }
}